/* Error: Undefined mixin.
 *    ,
 * 15 | /     @include responsive(big-screen)
 * 16 | |     {
 * 17 | |         font-size: 75%; //1rem = 12px, 12/16 = 75%
 * 18 | \     }
 *    '
 *   sass\base\base.scss 15:5  @use
 *   sass\main.scss 5:1        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 15 \2502  \250c      @include responsive(big-screen)\a 16 \2502  \2502      {\a 17 \2502  \2502          font-size: 75%; //1rem = 12px, 12/16 = 75%\a 18 \2502  \2514      }\a    \2575 \a   sass\\base\\base.scss 15:5  @use\a   sass\\main.scss 5:1        root stylesheet";
}
