.overview
{
    display: flex;


    &__heading
    {}

    &__stars
    {
        // flex: 1;
        margin-right: auto;
    }

    &__icon-star,
    &__icon-location
    {
        width: 2rem;
        height: 2rem;
        fill: var(--color-primary);
    }

    &__location
    {}

    &__rating
    {
        &-average
        {}

        &-count
        {}
    }


}